"*":
  "atom-beautify":
    general:
      _analyticsUserId: "20bac7e4-c9d2-4f87-98ee-2c5fb6af205e"
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "279cb61d-681a-4012-9d7b-539f64103b51"
  minimap: {}
  "remote-ftp":
    connector:
      autoUploadOnSave: "only when connected"
    notifications:
      enableWatchFileChange: true
    statusbar:
      enable: true
    tree:
      showProjectName: "remote"
